@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

/* CSS Animations for scrolling effect */
.slide-in-right {
    transform: translateX(100%);
    opacity: 0;
    animation: slideInRight 0.5s forwards;
  }
  
  .slide-out-left {
    animation: slideOutLeft 0.5s forwards;
  }
  
  .slide-in-left {
    transform: translateX(-100%);
    opacity: 0;
    animation: slideInLeft 0.5s forwards;
  }
  
  .slide-out-right {
    animation: slideOutRight 0.5s forwards;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  

.custom-shape-divider-bottom-1730202969 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1730202969 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 160px;
}

.custom-shape-divider-bottom-1730202969 .shape-fill {
    fill: #080836;
}
.bb{
    background-size: 100% 100%;
}

